<div class="wrapper text-center">
  <form action="/answer">
    <div class="form-group">
      <label for="question">Speak to your coach</label>
      <input type="text" class="form-control" name="query" placeholder="Write a question here?">
    </div>
    <input type="submit" value="Go on" class="btn btn-danger">
  </form>
</div>
